html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


* {
  box-sizing: border-box;
}

.test{
  cursor:url('https://static.wixstatic.com/media/2cd43b_cec89179926a4e73be99648b16a1342f~mv2.png/v1/fill/w_320,h_320,q_90/2cd43b_cec89179926a4e73be99648b16a1342f~mv2.png') 15 15, auto;
}
